language: java
jdk:
- oraclejdk8
install:
- mvn -N io.takari:maven:wrapper
- ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
branches:
  only:
  - master
  - develop
script:
  - mvn test
deploy:
    #deploy job here
