<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" th:href="@{~/images/icon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{~/images/icon.ico}" type="image/x-icon" />
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{~/css/main.css}" />
<link rel="stylesheet" th:href="@{~/css/bootstrap-select.min.css}" />
<script src="https://use.fontawesome.com/b2bd19dab3.js"></script>
<script th:src="@{~/js/jquery-2.1.1.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/bootstrap-select.min.js}"></script>
<title>New task</title>
</head>
<body>
	<div th:insert="nav :: navbar"></div>
	<div class="container" style="margin-top: 10px;">
		<div class="page-header">
			<h1>New Task</h1>
		</div>
		<div class="row">
			<!-- form content -->
			<div class="col-xs-8">
				<form action="/user/login" method="post" class="form" role="form">
					<input name="csrf_token" type="hidden" th:value="${csrf_token}">
					<div class="form-group  required">
						<label class="control-label" for="task_name">Task name</label> <input
							class="form-control" id="task_name" name="task_name" required
							type="text">
					</div>
                    <div class="form-group  required">
                        <label class="control-label" for="task_type">Task type</label> <select
                            name="task_type" id="task_type" class="selectpicker">
                            <option value="-1" disabled selected>Please select one</option>
                            <option th:each="t,ts : ${types}" th:value="${ts.index}"
                                th:text="${t.typeName}"></option>
                        </select>
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="start_time">Schedule time</label> 
                            <input type="datetime" class="form-control">
                    </div>
				</form>
			</div>
	        <!-- widget content -->
            <div class="col-xs-4">
                <div class="widget">
	                <div class='widget-header'>My incoming task&nbsp;<span class="badge">6</span></div>
                    <div class="widget-content list-group">
                        <a href="#" class="list-group-item">Task name 1.</a>
                        <a href="#" class="list-group-item">Task name 2.</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</body>
<script>
	$('.selectpicker').selectpicker({
		style : 'btn-default',
		size : 10
	});
</script>
</html>