<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" th:href="@{~/images/icon.ico}"
    type="image/x-icon" />
<link rel="icon" th:href="@{~/images/icon.ico}" type="image/x-icon" />
<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{~/css/main.css}" />
<script src="https://use.fontawesome.com/b2bd19dab3.js"></script>
<script th:src="@{~/js/jquery-2.1.1.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<title>Dashboard</title>
</head>
<body>
    <div th:insert="nav :: navbar"></div>
    
</body>
</html>