<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" th:href="@{~/images/icon.ico}"
          type="image/x-icon"/>
    <link rel="icon" th:href="@{~/images/icon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
    <title>Dashboard</title>
</head>
<body>
<div th:insert="nav :: navbar"></div>
<div class="container" style="margin-top: 10px;">
    <!-- main content row -->
    <div class="row">
        <div class="col-xs-3 panel">
            <div class="panel-heading"><h5>Tasks of today:</h5></div>
            <div class="panel-body"><p class="lead">3</p></div>
        </div>

        <div class="col-xs-3 panel">
            <div class="panel-heading"><h5>Average duration:</h5></div>
            <div class="panel-body"><p class="lead">30min</p></div>
        </div>
        <div class="col-xs-3 panel">
            <div class="panel-heading"><h5>Time cost:</h5></div>
            <div class="panel-body"><p class="lead">5h 20min</p></div>
        </div>
        <div class="col-xs-3 panel">
            <div class="panel-heading"><h5>Recent tasks(in 3 days):</h5></div>
            <div class="panel-body"><p class="lead">5</p></div>
        </div>
    </div>

    <div class="row chart-view">
        <div id="my_chart" style="height:320px;"></div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="tasklist">
                <h3>Task List</h3>
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Priority</th>
                        <th>Start date</th>
                        <th>Type</th>
                        <th>Duration</th>
                    </tr>
                    <tr th:each="t,ts : ${tasks}">
                        <td th:text="${ts.index + 1}">1</td>
                        <td th:text="${t.taskName}">Test name</td>
                        <td th:text="${t.priority}">2</td>
                        <td th:text="${t.startDate}"></td>
                        <td th:text="${t.taskType.typeName}"></td>
                        <td th:text="${t.duration}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-4 widget-content">

        </div>
    </div>
    <!-- end main content row -->
</div>
</body>
<script th:src="@{~/js/jquery-2.1.1.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/echarts.common.min.js}"></script>
<script>
var myChart = echarts.init(document.getElementById("my_chart"));
var colors = ['#5793f3', '#d14a61', '#675bba'];
var option = {
    title: {
        text: "Weekly task trend"
    },
    color: colors,
    legend: {
        data:['Tasks']
    },
    tooltip: {
        trigger: 'none',
        axisPointer: {
            type: 'cross'
        }
    },
    grid: {
        top: 70,
        bottom: 50
    },
    xAxis: {
        //load from map key
        type: 'category',
        axisLine: {
            onZero: false,
            lineStyle: {
                color: colors[1]
            }
        },
        axisPointer: {
            label: {
                formatter: function (params) {
                    return params.seriesData[0].data;
                }
            }
        },
        data: ["4.1","4.5","4.9","4.14"]
    },
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [{
        name: '',
        type: 'line',
        smooth: true,
        //load from map value
        data: [1, 15, 6, 4]
    }]
}
myChart.setOption(option);
</script>
<script src="https://use.fontawesome.com/b2bd19dab3.js" async="async"></script>
</html>