<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" th:href="@{~/images/icon.ico}"
          type="image/x-icon"/>
    <link rel="icon" th:href="@{~/images/icon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/css/main.css}"/>
    <title>Profile</title>
</head>
<body>
<div th:insert="nav :: navbar"></div>
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xs-2">
            <dl class="avatar-container">
                <dt>
                    <label>Profile picture</label>
                </dt>
                <dd>
                    <img class="img-rounded img-thumbnail"
                         src="{{ user.gravatar(size=180) }}">
                    <div class="upload-btn">
                        <label data-toggle="modal" data-target="#myModal"> Update
                            picture </label>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-xs-7">
            <div class="page-header">
                <h1>Pulic Profile</h1>
            </div>
            {{wtf.quick_form(form)}}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Crop your new
                        profile picture</h4>
                </div>
                <div class="modal-body">
                    <input type="file" onchange="return file_selected(this)">
                    <!--dragable area-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info"
                            onclick="return save_avatar()">Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--ends modal-->
</div>
</body>
<script th:src="@{~/js/jquery-2.1.1.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script src="https://use.fontawesome.com/b2bd19dab3.js" async="async"></script>
</html>