/*GLOBAL STYLE*/
* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	color: #5a5a5a;
	margin-top: 60px;
	min-width: 1100px;
}
/*NAV BAR*/
.navbar {
	height: 60px;
	min-height: 60px;
	color: rgb(213, 213, 213);
}

.navbar-brand>img {
	height: 32px;
	margin-right: 3px;
	display: inline;
}
/* CUSTOMIZE THE CAROUSEL */
.carousel {
	height: 340px;
}

.carousel-caption {
	z-index: 10;
	position: absolute;
	top: 90px;
	vertical-align: center;
}

.carousel-caption>h1 {
	font-size: 48px;
}

.carousel .item {
	height: 340px;
	background-color: #777;
}

.carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 340px;
}

.newsbar {
	background-color: #eee;
	width: 100%;
	text-align: center;
	padding: 25px 0;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}

.poster-img {
	display: inline;
	/*height: 260px;*/
	width: inherit;
	margin: 0 auto;
}
/*FOOTER STYLE*/
.footer {
	position: absolute;
	/*bottom: 0;*/
	width: 100%;
	min-width: 450px;
	height: 40px;
	background-color: #eee;
	padding: 10px 15px;
}

.poster-section {
	font-size: 18px;
	font-style: oblique;
}
/*FEATURE SECTION*/
.feature-section {
	margin: 25px 0 20px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
}
/*USER PROFILE*/
.profile-form {
	margin-left: 10px;
}

.avatar-container {
	display: table;
	clear: both;
}

.upload-btn {
	margin: 5px auto;
	width: inherit;
	background-image: linear-gradient(#fcfcfc, #eee);
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	padding: 6px 12px;
	min-width: 120px;
	font-size: 14px;
	height: 36px;
	border: 0.8px solid rgb(213, 213, 213);
}
/*SOME COMPONENT*/
select:invalid {
	color: gray;
}

.widget {
/* 	border: 0.8px solid rgb(213, 213, 213); */
}
.widget-header{
	margin-top:0px;
	padding: 5px;
	background-color: rgb(101,73,130);
	backgroung-size: auto;
	font-size:14px;
	color:rgb(255,255,255);
}
.widget-content{
	border: 0.8px solid rgb(213, 213, 213);
	padding: 10px 15px;
	border-radius: 4px;
}