<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:fragment="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img th:src="@{~/images/icon.png}" class="img-circle">
                J Schedule
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" th:if="${session.session_user}">
                <li><a href="/task/new">Create New</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" th:if="${session.session_user}">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="${session.session_user.name}"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/dashboard"><span class="fa fa-dashboard"></span>&nbsp;My Dashboard</a></li>
                        <li><a href="/user/profile"><span class="fa fa-server"></span>&nbsp;View Profile</a></li>
                        <li><a href="/user/password"><span class="fa fa-exchange"></span>&nbsp;Change Password</a></li>
                        <li><a href="/user/logout"><span class="fa fa-sign-out"></span>&nbsp;Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" th:unless="${session.session_user}">
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>